<title>Visualization</title>
<link href="/css/index.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/simple-sidebar.css" rel="stylesheet">
<script src="/js/d3.js" charset="utf-8"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/rickshaw.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/index.js" type="text/javascript"></script>
